h1{
    color: red;
}

#editor {
    width: 50%;
    height: 10cm;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

table td{
    border: 1px solid black;
}

td div{
    width: 1cm;
    height: 1cm;
    position: relative;
}

td div h2{
    position: absolute;
    margin: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

td.sunday{
    border-color: red;
    color: red;
    border-style: dashed;
}

td.saturday{
    border-color: dimgray;
    color: dimgray;
    border-style: dotted;
}

td.wrongYear{
    border-style: hidden;
    opacity: 0.2;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.2);
}

td.box{
    border-style: dashed;
}

td.monthStart{
    border-left: 4px solid black;
}

.yearTitle{
    float: left;
    margin-right: 1em;
}
